version: '2'

services:
  docker-app-demo:
    container_name: docker_app_demo
    build : .
    volumes:
      - ./src:/app
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONGO_URL=mongodb://mongo:27017/test
  mongo:
    container_name: mongo
    image: mongo:latest
    volumes:
      - ./data/mongo:/data/db
    ports:
      - "27017:27017"
    restart: always
  mysql:
    container_name: mysql
    image: mysql:5.7
    volumes:
      - ./data/mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 'secret'
    restart: always
  redis:
    container_name: redis
    image: redis:alpine
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - ./data/redis:/data
    ports:
      - "6379:6379"
    restart: always