.example___FAXvX {
  font-size: 50px; }

.link___MAt6z {
  height: 30px;
  position: absolute;
  bottom: 0; }

.linker___2LHyj {
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0; }

.container___2py_l {
  height: 1500px;
  position: relative; }

