$font-size: 50px;

.example {
  font-size: $font-size;
}

.link {
  height: 30px;
  position: absolute;
  bottom: 0;
}

.linker {
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.container {
  height: 1500px;
  position: relative;
}